form {
  padding: 0 2em;
  max-width: 600px;
  margin: 0 auto;
}
input, select {
  min-width: 200px;
  width: 100%;
}
.mdc-textfield, .mdc-textfield--upgraded {
  width: 100%;
}
input.Delete[type=button] {
  background-color: rgb(235, 76, 76);
  max-width: 100px;
}
input.Close[type=button] {
  background-color: lightskyblue;
  max-width: 100px;
}
input[type=submit] {
  background-color: #50d29d;
  max-width: 100px;
}
.mdc-form-field {
  display: block;
}
.mdc-select, .mdc-form-submit {
  margin-top: 24px;
}
.mdc-form-submit {
  display: flex;
  justify-content: space-between;
}
